.text-center{
    margin: 30px 0;
}

#btnInput{   
    margin-top: 20px;
    margin-left: auto;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
}

.category{
    display: flex;
    flex-wrap: nowrap;
   
}


.form{
    margin: 40px 0px;
}

.form{
    flex:1;
}

.btnInput{
    margin-top: 20px;
    
    margin-left: auto;
}

.btnContainer{
    display: flex;
}

/* .btnInput{
    margin-right: auto;
} */