<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="adminPost.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container text-center">
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col-8">
        <div class="adminContainer">
          <form id="form">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">제품명</span>
              <input type="text" name="title" id="title" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">카테고리</span>
              <input type="text" name="categoryId" id="category" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
            </div>

<!-- ---------------------------------------------- -->
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
              <select class="form-select category" id="inputGroupSelect01">
               
                
              </select>
            </div>
            <!-- ---------------------------------------------- -->



            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">제조사</span>
              <input type="text" name="manufacturer" id="manufacturer" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">가격</span>
              <input type="number" name="price" id="price" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">

            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">설명</span>
              <input type="text" name="description" id="description" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

            </div>

            <label for="formFile" class="form-label"></label>
            <div id="ccontainer">
              <input class="form-control thumbanil" id="formFile" name="image" type="file" id="formFile">
              <input id="btnInput" type="submit" value="등록">
            </div>
          </form>

        </div>

        <form id="form2">
          <div id="ccontainer" class="category">


            <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
            <input type="number" class="form-control" id="categoryId" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
            <span class="input-group-text" id="inputGroup-sizing-default">품목</span>
            <input type="text" class="form-control" id="categoryName" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
            <input id="btnInput" type="submit" value="등록">



          </div>
        </form>


        <a class="btn btn-danger ms-5" href="javascript:history.back()">뒤로가기</a>

      </div>
    </div>
    <div class="col-2">

    </div>
  </div>
  </div>

  <script src="adminPost.js"></script>
</body>

</html>