<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지 사항</title>
    <script src="notice.js" type="module" defer></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <link rel="stylesheet" href="/public/css/public.css" />

    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="notice.css" />
  </head>
  <body>
    <div class="pageWraper">
      <nav
        class="navbar navbar-expand-xl bg-light d-flex justify-content-evenly sticky-top mb-3"
        id="nav"
      ></nav>

      <h1 style="margin: 0 auto">공지사항</h1>
      <table id="noticeTable">
        <thead>
          <tr>
            <td>제목</td>
            <td>생성일</td>
          </tr>
        </thead>
        <tbody id="noticeList"></tbody>
      </table>

      <div id="checkRes"></div>
      <section class="footerSection"></section>
      <footer id="footer"></footer>
    </div>
    <script src="/public/js/template-renderer.js"></script>
  </body>
</html>
