#image-container {
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
}
#image {
  object-fit: cover;
}

#main {
  font-size: 18px;
}

#sub {
  font-size: 16px;
}

#minus,
#plus {
  font-size: 20px;
  padding: 0 10px;
  border-radius: 50%;
}

#minus {
  margin: 0;
  margin-right: 10px;
}

#minus:hover {
  cursor: pointer;
}

#plus {
  margin: 0;
  margin-left: 10px;
}

#plus:hover {
  cursor: pointer;
}

#description {
  font-size: 17px;
}

#count {
  padding-left: 18px;
  width: 50px;
}
