<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="order_confirm.css" />
    <script src="order_confirm.js" type="module" defer></script>
    <title>쇼핑-n팀/주문완료</title>
</head>

<body>
    <header>
        <div id="logoDiv">logo</div>
        <div id="logoDiv">개발세발네발🐶</div>
    </header>
    <main>
        <div id="orderCompleteContainer">
            <p>주문이 완료되었습니다!</p>
            <p>주문번호</p>
            <p id="orderIdOutput"></p>
            <button type="button" id="orderCheckButton">주문 확인하기</button>
            <button type="button" id="orderListButton" hidden>주문 목록보기</button>
            <button type="button" id="continumShoppingButton">쇼핑 계속하기</button>
        </div>
    </main>
</body>

</html>