/* #container input[type='text'],
#container input[type='email'],
#container input[type='password'],
#container input[type='text'],
#container input[type='tel'] {
  font-size: 18px;
} */

.label {
  font-size: 19px;
  margin-bottom: 6px !important;
}
#title {
  font-size: 32px;
}

#submitButton {
  font-size: 20px;
}

.invalid {
  border: 1px red solid;
}
