.register-user-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.register-user-form-box {
    width: 30rem;
}

.register-user-form-box .title {
    text-align: center;
}

.register-user-form-box .button {
    font-weight: bold;
}

.register-user-form-box .input:focus {
    border-color: #00d1b2;
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.hidden-until-edit {
    display: none;
}


/* moral */

.modal-layout {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moral-card {
    width: 650px;
    height: 250px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}