
.navBar li {
  padding-left: 15px;
}

.a {
  text-decoration: none;
  color: black;
}

/* itemLists */

.posts {
  display: flex;
  justify-content: center;
  border: solid rgb(114, 113, 113) 0.5px;
}

ul {
  list-style: none;
  padding: 0px 20px;
}

img {
  width: 100px;
  height: 100px;
}

.addContainer{
  display: flex;
}

.add {
  width: 90px;
  height: 50px;
  position: fixed;
  bottom: 90px;
  right: 200px;
}

.btn-outline-danger {
  margin: 8px 3px;
}

