/* 
.containerHead {
  display: flex;
  justify-content: space-between;
}

.navBar {
  list-style: none;
  display: flex;
}

.navBar li {
  padding-left: 15px;
}

.formDiv {
  display: none;
}

.formDiv.active {
  display: inline;
} */


/* 메인 */
/* .recommend {
  font-size: 22px;
  padding: 40px 0px 20px 20px;
  ;
}

.containerItem {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(350px, auto));
} */


.navBar li {
  padding-left: 15px;
}

.a {
  text-decoration: none;
  color: black;
}

/* itemLists */

.posts {
  display: flex;
  justify-content: center;
  border: solid rgb(114, 113, 113) 0.5px;
}

ul {
  list-style: none;
  padding: 0px 20px;
}

img {
  width: 200px;
  height: 200px;
}

.addContainer{
  display: flex;
}

.add {
  margin: 50px 50px 50px auto
 
}

.btn-outline-danger {
  margin: 8px 3px;
}

