* {
  font-family: 'Poor Story', cursive, sans-serif;
  font-size: 18px;
  font-weight: 700 !important;
}

#logo {
  font-size: 32px;
  font-weight: 700;
}

/* html,body {
  height: 100%;
} */

#search {
  width: 250px;
}

.search-form {
  width: 400px;
}

#cart-notification {
  opacity: 0.9;
}

#toPrevious {
  margin-left: 200px;
  padding-bottom: 50px;
}

#left-arrow {
  font-size: 80px;
}

#toNext {
  margin-right: 200px;
  padding-bottom: 50px;
}

#right-arrow {
  font-size: 80px;
}

.card-title {
  font-weight: 700;
}

#logout:hover {
  cursor: pointer;
}

.pageWraper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  min-width: 100vh;
  height: 100px;
  /* position: relative;
  bottom: 0; */
background-color: #D1D4D7;
}


