<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

    <link rel="stylesheet" href="userOrder.css" />
    <link rel="stylesheet" href="/public/css/public.css" />
</head>

<body>
    <div class="pageWraper">
        <nav class="navbar navbar-expand-xl bg-light d-flex justify-content-evenly sticky-top" id="nav"></nav>
        <div class="container text-center">
            <span>주문 조회</span>
            <hr>
            <div class="row">
                <div class="col-0.2"></div>
                <div class="col-11.6" id="usersConainer">
                   

                    <table class="table table-hover table-bordered" style="table-layout: fixed">

                        <thead>
                            <tr>
                                <th scope="col" width="100rem">날짜</th>
                                <th scope="col" width="250rem">주문정보</th>
                                <th scope="col" width="120rem">상태</th>
                                <th scope="col" width="120rem">신청</th>
                            </tr>
                        </thead>
                        <tbody id="orderList">
                            <tr>

                            </tr>
                        </tbody>
                    </table>


                    <div style="display: flex;">
                        <a class="btn btn-danger ms-5" href="javascript:history.back()">뒤로가기</a>

                        <!-- <div class="moveBtn">
                            <button type="button" id="deleveryBtn" class="btn btn-danger">배송 중</button>
                            <button type="button" id="completeBtn" class="btn btn-danger">배송 완료</button>
                        </div> -->
                    </div>

                </div>

                <div class="col-0.2"></div>


            </div>

        </div>
        <footer class="container-fluid text-center mt-auto py-3" id="footer"></footer>


    </div>

</body>
<script src="/public/js/template-renderer.js"></script>
<script src="userOrder.js" type="module" defer></script>

</html>