*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{

}

.containerHead{
  display: flex;
  justify-content: space-between;
}

.navBar{
  list-style: none;
  display: flex;
}

.navBar li{
  padding-left: 15px;
}

.formDiv{
  display: none;
}

.formDiv.active{
  display:inline;
}


/* 메인 */
.recommend{
  font-size: 22px;
  padding: 40px 0px 20px 20px;;
}

.containerItem{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,minmax(350px,auto));
}

@media screen and (max-width: 980px) {
  .containerItem{
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(5,minmax(250px,auto));
  }
}