input[type='text'],
input[type='email'],
input[type='password'],
input[type='text'],
input[type='tel'] {
  font-size: 24px;
}

.label {
  font-size: 20px;
  margin-bottom: 12px !important;
}
#title {
  font-size: 36px;
}

#submitButton {
  font-size: 20px;
  font-weight: 700;
}

#container {
  margin-top: 150px !important;
}
