input[type='text'],
input[type='email'],
input[type='password'],
input[type='text'],
input[type='tel'] {
  font-size: 24px;
}

.label {
  font-size: 20px;
  margin-bottom: 12px !important;
}
#title {
  font-size: 36px;
}

#submitButton {
  font-size: 20px;
  font-weight: 700;
}

#container {
  margin-top: 80px !important;
}

#forget-password {
  font-size: 24px;
}

#sendEmail {
  text-decoration: none;
  font-size: 24px;
  color: cornflowerblue;
}

#sendEmail:hover {
  cursor: pointer;
  text-decoration: underline;
}

.resetInput {
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
}

#submit-btn {
  font-size: 32px;
  color: whitesmoke;
}
