<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cart.css" />
    <script src="cart.js" type="module" defer></script>
    <title>쇼핑-n팀/장바구니</title>
</head>

<body>
    <header>
        <div id="logoDiv">logo</div>
        <div id="logoDiv">개발세발네발🐶</div>
    </header>
    <main>
        <div id="cartDiv">
            <span id="cartForm">orderForm</span>
            <div id="cartHeader">
                <label class="checkbox">
                <input type="checkbox" id="allSelectCheckbox"> 
                <p>전체선택</p>
                </label>
                <p> | </p>
                <label class="delete-part" id="partialDeleteLabel">
                <p>선택삭제</p>
                </label>
            </div>
            <div id="itemContainer">
            </div>
            <div id="cartSummery">
                <dl>
                    <dt>상품수</dt>
                    <dd id="itemCountAll"></dd>
                    <dt>상품금액</dt>
                    <dd id="itemPriceAll"></dd>
                    <dt>배송비</dt>
                    <dd>3000</dd>
                    <dt>총 결제금액</dt>
                    <dd id="totalPrice"></dd>
                </dl>
            </div>
        </div>

    </main>
</body>

</html>