.image {
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.item-container {
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px 20px;
}

.item-container p {
  margin-bottom: 0;
}

title-container {
  text-overflow: ellipsis;
}

#summary {
  border: 2px solid gray;
  border-radius: 30px;
}

dt {
  font-size: 32px;
}

dd {
  font-size: 28px;
}
