<div class="item-div" id="productItem-${productId}">
    <label class="checkbox">
        <input type="checkbox" id="checkbox-${productId}" checked>
    </label>
    <button class="delete-button" id="delete-${productId}">
        지우기
    </button>
    <img id="image-${productId}" src="${imageUrl}" alt="product-image" />
    <p id="title-${productId}">${title}</p>
    <p id="unitPrice-${productId}">${price}원</p>
    <button class="button" id="minus-${productId}" ${quantity <=1 ? "disabled" : ""}>
        -
    </button>
    <input class="input" id="quantityInput-${productId}" type="number" min="1" max="99" value="${quantity}" />
    <button class="button" id="plus-${productId}" ${quantity>= 99 ? "disabled" : ""}>
        +
    </button>
    <p id="totalPrice-${productId}">${quantity * price}원</p>
</div>